.row-product {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}

.row-product * {


}

.row-product:last-child {
    border-bottom: 1px solid #999;
}

.product-name {


}

.product-wrap a {
    margin-right: 1rem;
}
.upload-button {
    background-color: #f3fbff;
    border: 1px solid #bfe2fa;
    border-radius: 5px;
    color: #148ed5;
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    padding: 0 10px;
}
.item-input input[type=file] {
    background: #333 none repeat scroll 0 0;
    height: 36px;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: -7px;
    width: 77px;
    z-index: 2;
}
.item-input {
    width: 165px;
    overflow:hidden;
    margin: 0 auto;
    position:relative;
    display: inline;
}