.row-product-category {
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid black;
}

.category-input {
    border: 0;

    background-color: #eee;
}
.category-input .priority{
    width:20px;
}

